.news-container {
  min-height: 100vh;
  margin: 0;

  .latest-news {
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    img {
      border-radius: 10px;
      width: 90%;
      height: 450px;
      object-fit: cover;
    }
  }

  .news-list {
    min-height: 100vh;
    border: 1px solid #292c2f;

    .timeline {
      margin-top: 2rem;
      border-radius: 12px;
      position: relative;
      list-style: none;
      padding-left: 0;

      li {
        padding-bottom: 1.5rem;
        border-left: 1px solid black;
        position: relative;
        padding-left: 20px;
        margin-left: 10px;

        &:last-child {
          border: 0px;
          padding-bottom: 0;
        }

        &:before {
          content: '';
          width: 15px;
          height: 15px;
          background: white;
          border: 1px solid black;
          border-radius: 50%;
          position: absolute;
          left: -8px;
         
          transition: background 0.3s ease;
        }

        &:hover:before {
          background: black;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .btn {
        cursor: pointer;
      }
    }

    .news-item {
      border-radius: 2px;
      cursor: pointer;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        text-decoration: underline;
      }

      h5 {
        font-size: 18px;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        color: #888;
      }
    }
  }
}